.vingage-nav.navbar {
  border-radius: 0px;
}

div.vingage-brand.navbar-brand {
  color: #79BD0F;
}

.video-list {
  height: 0px;
  overflow: hidden;
  transition: height 0.6s;
}

.video-list.show-videos {
  height: 180px;
}

.video-list.hide-videos {
  height: 0px;
}

.delete {
  float: right;
  color: rgb(201, 0, 0);
}

.edit-note-form {
  margin-bottom: 10px;
}